.git
.github
node_modules
vendor
.env
public/uploads
public/uploads/
public/uploads/**
storage/framework
storage/framework/
storage/framework/**
storage/logs
storage/logs/
storage/logs/**
storage/backups
storage/backups/
storage/backups/**
bootstrap/cache
bootstrap/cache/
bootstrap/cache/**