/vendor
/node_modules
Homestead.yaml
.env
/public/dist
.idea
/public/plugins
/public/css
/public/js
/public/bower
/storage/images
_ide_helper.php
/storage/debugbar
.phpstorm.meta.php
yarn.lock
/bin
.buildpath

.project

.settings/org.eclipse.wst.common.project.facet.core.xml

.settings/org.eclipse.php.core.prefs
