includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    # The level 8 is the highest level
    level: 1

    phpVersion: 70400

    bootstrapFiles:
      - bootstrap/phpstan.php

    ignoreErrors:
    #  - '#PHPDoc tag @throws with type .*?Psr\\SimpleCache\\InvalidArgumentException.*? is not subtype of Throwable#'

    excludePaths:
        - ./Config/**/*.php

    checkMissingIterableValueType: false