
<div class="image-picker">
    <div>
        <img ng-if="image && image !== 'none'" ng-src="{{image}}" ng-class="{{imageClass}}" alt="Image Preview">
        <img ng-if="image === '' && defaultImage" ng-src="{{defaultImage}}" ng-class="{{imageClass}}" alt="Image Preview">
    </div>
    <button class="button" type="button" ng-click="showImageManager()">Select Image</button>
    <br>

    <button class="text-button" ng-click="reset()" type="button">Reset</button>
    <span ng-show="showRemove" class="sep">|</span>
    <button ng-show="showRemove" class="text-button neg" ng-click="remove()" type="button">Remove</button>

    <input type="hidden" ng-attr-name="{{name}}" ng-attr-id="{{name}}" ng-attr-value="{{value}}">
</div>