
.anim.fadeIn {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 180ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.search-suggestions-animation{
  animation-name: searchSuggestions;
  animation-duration: 120ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.62, .28, .23, .99);
}

@keyframes searchSuggestions {
  0% {
    opacity: .5;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes loadingBob {
  0% {
    transform: translate3d(0, 0, 0);
  }
  30% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -10px, 0);
  }
  70% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes pointer {
  0% {
      transform: translate3d(0, 20px, 0) scale3d(0, 0, 0);
  }
  100% {
      transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}

.anim.pointer {
  transform-origin: 50% 100%;
  animation-name: pointer;
  animation-duration: 180ms;
  animation-delay: 0s;
  animation-timing-function: cubic-bezier(.62, .28, .23, .99);
}