/**
 * Includes the main navigation header and the faded toolbar.
 */

header .grid {
  grid-template-columns: minmax(max-content, 2fr) 1fr minmax(max-content, 2fr);
}

@include smaller-than($l) {
  header .grid {
    grid-template-columns: 1fr;
    grid-row-gap: 0;
  }
}

header {
  position: relative;
  display: block;
  z-index: 11;
  top: 0;
  color: rgb(250, 250, 250);
  border-bottom: 1px solid #DDD;
  box-shadow: $bs-card;
  @include lightDark(border-bottom-color, #DDD, #000);
  @include whenDark {
    filter: saturate(0.8) brightness(0.8);
  }
  .header-links {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .links {
    display: inline-block;
    vertical-align: top;
  }
  .links a {
    display: inline-block;
    padding: 10px $-m;
    color: #FFF;
    border-radius: 3px;
  }
  .links a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, .15);
  }
  .dropdown-container {
    padding-inline-start: $-m;
    padding-inline-end: 0;
  }
  .avatar, .user-name {
    display: inline-block;
  }
  .avatar {
    width: 30px;
    height: 30px;
  }
  .user-name {
    vertical-align: top;
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: $-s;
    margin: 0 (-$-s);
    border-radius: 3px;
    gap: $-xs;
    > span {
      padding-inline-start: $-xs;
      display: inline-block;
      line-height: 1;
    }
    > svg {
      font-size: 18px;
      margin-top: -2px;
      margin-inline-end: 0;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }
    @include between($l, $xl) {
      padding-inline-start: $-xs;
      .name {
        display: none;
      }
    }
  }
}

.header *, .primary-background * {
  outline-color: #FFF;
}


header .search-box {
  display: inline-block;
  input {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    color: #EEE;
    z-index: 2;
    height: auto;
    padding: $-xs*1.5;
    padding-inline-start: 40px;
    &:focus {
      outline: none;
      border: 1px solid rgba(255, 255, 255, 0.4);
    }
  }
  input::placeholder {
    color: #FFF;
    opacity: 0.6;
  }
  @include between($l, $xl) {
    max-width: 200px;
  }
  &:focus-within #header-search-box-button {
    opacity: 1;
  }
}
#header-search-box-button {
  z-index: 1;
  left: 16px;
  top: 10px;
  color: #FFF;
  opacity: 0.6;
  @include lightDark(color, rgba(255, 255, 255, 0.8), #AAA);
  @include rtl {
    left: auto;
    right: 16px;
  }
  svg {
    margin-inline-end: 0;
  }
}

.global-search-suggestions {
  display: none;
  position: absolute;
  top: -$-s;
  left: 0;
  right: 0;
  z-index: -1;
  margin-left: -$-xxl;
  margin-right: -$-xxl;
  padding-top: 56px;
  border-radius: 3px;
  box-shadow: $bs-hover;
  transform-origin: top center;
  opacity: .5;
  transform: scale(0.9);
  .entity-item-snippet p  {
    display: none;
  }
  .entity-item-snippet {
    font-size: .8rem;
  }
  .entity-list-item-name {
    font-size: .9rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .global-search-loading {
    position: absolute;
    width: 100%;
  }
}
header .search-box.search-active:focus-within {
  .global-search-suggestions {
    display: block;
  }
  input {
    background-color: #EEE;
    color: #444;
    border-color: #DDD;
  }
  #header-search-box-button {
    color: #444;
  }
}

.logo {
  display: inline-flex;
  padding: ($-s - 6px) $-s;
  margin: 6px (-$-s);
  gap: $-s;
  align-items: center;
  border-radius: 4px;
  &:hover {
    color: #FFF;
    text-decoration: none;
    background-color: rgba(255, 255, 255, .15);
  }
}

.logo-text {
  font-size: 1.8em;
  color: #fff;
  font-weight: 400;
  line-height: 1;
}
.logo-image {
  height: 43px;
}

.mobile-menu-toggle {
  color: #FFF;
  fill: #FFF;
  font-size: 2em;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 0 $-xs;
  position: absolute;
  right: $-m;
  top: 13px;
  line-height: 1;
  cursor: pointer;
  user-select: none;
  svg {
    margin: 0;
    bottom: -2px;
  }
  @include rtl() {
    left: $-m;
    right: auto;
  }
}



@include smaller-than($l) {
  header .header-links {
    @include lightDark(background-color, #fff, #333);
    display: none;
    z-index: 10;
    right: $-m;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    box-shadow: $bs-hover;
    margin-top: $-m;
    padding: $-xs 0;
    &.show {
      display: block;
    }
  }
  header .links a, header .dropdown-container ul li a, header .dropdown-container ul li button {
    text-align: start;
    display: grid;
    align-items: center;
    padding: 8px $-m;
    gap: $-m;
    color: $text-dark;
    grid-template-columns: 16px auto;
    line-height: 1.4;
    @include lightDark(color, $text-dark, #eee);
    svg {
      margin-inline-end: $-s;
      width: 16px;
    }
    &:hover {
      background-color: var(--color-primary-light);
      color: var(--color-primary);
      text-decoration: none;
    }
    &:focus {
      @include lightDark(background-color, #eee, #333);
      outline-color: var(--color-primary);
      color: var(--color-primary);
    }
  }
  header .dropdown-container {
    display: block;
    padding-inline-start: 0;
  }
  header .links {
    display: block;
  }
  header .dropdown-container ul {
    display: block !important;
    position: relative;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: none;
  }
}

.tri-layout-mobile-tabs {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #FFF;
  border-bottom: 1px solid #DDD;
  @include lightDark(border-bottom-color, #DDD, #333);
  box-shadow: $bs-card;
}
.tri-layout-mobile-tab {
  text-align: center;
  border-bottom: 3px solid #BBB;
  cursor: pointer;
  margin: 0;
  @include lightDark(background-color, #FFF, #222);
  @include lightDark(border-bottom-color, #BBB, #333);
  &:first-child {
    border-inline-end: 1px solid #DDD;
    @include lightDark(border-inline-end-color, #DDD, #000);
  }
  &[aria-selected="true"] {
    border-bottom-color: currentColor !important;
  }
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  opacity: 0.7;
  .icon-list-item {
    width: auto;
    padding-top: $-xs;
    padding-bottom: $-xs;
  }
  .separator {
    display: inline-block;
    fill: #aaa;
    font-size: 1.6em;
    line-height: 0.8;
    margin: -2px 0 0;
  }
  &:hover, &:focus-within {
    opacity: 1;
  }
  @media (prefers-contrast: more) {
    opacity: 1;
  }
}

@include smaller-than($l) {
  .breadcrumbs .icon-list-item {
    padding: $-xs;
    > span + span {
      display: none;
    }
    > span:first-child {
      margin-inline-end: 0;
    }
  }
}

.faded {
  a, button, span, span > div {
    color: #666;
    fill: #666;
  }
  .text-button {
    opacity: 0.5;
    transition: all ease-in-out 120ms;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
}

.faded span.faded-text {
  display: inline-block;
  padding: $-s;
}

.action-buttons .text-button {
  display: inline-block;
  padding: $-xs $-s;
  &:last-child {
    padding-inline-end: 0;
  }
  &:first-child {
    padding-inline-start: 0;
  }
}


.action-buttons .dropdown-container:last-child a {
  padding-inline-end: 0;
  padding-inline-start: $-s;
}
.action-buttons {
  text-align: end;
  &.text-left {
    text-align: start;
    .text-button {
      padding-inline-end: $-m;
      padding-inline-start: 0;
    }
  }
  &.text-center {
    text-align: center;
  }
}

@include smaller-than($m) {
  .action-buttons .text-button {
    padding: $-xs $-xs;
  }
  .action-buttons .dropdown-container:last-child a {
    padding-inline-start: $-xs;
  }
}