* {
  box-sizing: border-box;
  outline-color: var(--color-primary);
  outline-width: 1px;
}

*:focus {
  outline-style: dotted;
}

html {
  height: 100%;
  overflow-y: scroll;
  background-color: #F2F2F2;
  &.flexbox {
    overflow-y: hidden;
  }
  &.dark-mode {
    background-color: #111;
  }
}

body {
  font-size: $fs-m;
  line-height: 1.6;
  @include lightDark(color, #444, #AAA);
  -webkit-font-smoothing: antialiased;
  background-color: #F2F2F2;
  height: 100%;
  display: flex;
  flex-direction: column;
}
