menu, ol, ul {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.debug-outline {
	border: 1px solid var(--color-bookshelf);
}

.smf-card-with-progress {
	/* Auto layout */

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px 0px 4px;
	gap: 4px;
	
	// position: absolute;
	width: 120px;
	height: 197px;
	
	border-radius: 8px 8px 2px 2px;
}

.smf-card-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 10px;
	
	width: 120px;
	height: 185px;
	align-self: stretch;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

	border-radius: 8px 8px 0px 0px;
	
	/* Inside auto layout */
	
	flex: none;
	order: 0;
	flex-grow: 0;
}

.smf-progress-indicator {
	display: flex;
	width: 80px;
	height: 4px;
	border-radius: 0px 0px 2px 2px;

	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
	
}

.smf-whole-progress-indicator {
	width: 80px;
	height: 4px;
	// left: 20px;
	// bottom: 4px;
	
	/* gray/200 */
	
	background: white;
	border-radius: 2px;
}

.smf-progress-value {
	width: 55px;
	height: 4px;
	left: 20px;
	bottom: 4px;

	/* pink/600 */

	background: #D61F69;
	border-radius: 2px;
}

.smf-carousel-with-progress {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 16px;

	width: 980px;
	height: 276px;

	border-radius: 8px;
	overflow-x: scroll;
}