.debug-outline {
	border: 1px solid var(--color-bookshelf);
}



.smf-card-with-progress {
	/* Auto layout */

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px 0px 4px;
	gap: 4px;
	
	// position: absolute;
	width: 120px;
	height: 197px;
	
	border-radius: 8px 8px 2px 2px;
}

.smf-card-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 10px;
	
	width: 120px;
	height: 185px;
	align-self: stretch;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

	border-radius: 8px 8px 0px 0px;
	
	/* Inside auto layout */
	
	flex: none;
	order: 0;
	flex-grow: 0;
}

.smf-progress-indicator {
	display: flex;
	width: 80px;
	height: 4px;
	border-radius: 0px 0px 2px 2px;

	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
	
}

.smf-whole-progress-indicator {
	width: 80px;
	height: 4px;
	// left: 20px;
	// bottom: 4px;
	
	/* gray/200 */
	
	background: white;
	border-radius: 2px;
}

.smf-progress-value {
	width: 55px;
	height: 4px;
	left: 20px;
	bottom: 4px;

	/* pink/600 */

	background: #D61F69;
	border-radius: 2px;
}

.smf-carousel-with-progress {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 16px;

	width: 1440px;
	height: 276px;

	border-radius: 8px;
}

.smf-carousel {
    display: flex;
    flex-direction: row;
    max-width: 980px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
  }
  .div-2 {
    display: flex;
    flex-direction: row;
    max-width: 120px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.05000000074505806),
      0px 4px 6px -1px rgba(0, 0, 0, 0.10000000149011612);
    border-color: rgba(229, 231, 235, 1);
    border-width: 0px;
    border-style: solid;
  }
  .div-3 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: flex-start;
    align-self: stretch;
    width: 120px;
    align-items: flex-start;
    background-image: url("https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F4ba52ba76ea34d4582e3c6a53cf1ad44");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .div-4 {
    display: flex;
    max-width: 120px;
    height: 185px;
    width: 120px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
  }
  .div-5 {
    display: flex;
    flex-direction: row;
    max-width: 120px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.05000000074505806),
      0px 4px 6px -1px rgba(0, 0, 0, 0.10000000149011612);
    border-color: rgba(229, 231, 235, 1);
    border-width: 0px;
    border-style: solid;
  }
  .div-6 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: flex-start;
    align-self: stretch;
    width: 120px;
    align-items: flex-start;
    background-image: url("https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fc5bd3fdb82ea4e108cb6bd5b40d45c6b");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .div-7 {
    display: flex;
    max-width: 120px;
    height: 185px;
    width: 120px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
  }
  .div-8 {
    display: flex;
    flex-direction: row;
    max-width: 120px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.05000000074505806),
      0px 4px 6px -1px rgba(0, 0, 0, 0.10000000149011612);
    border-color: rgba(229, 231, 235, 1);
    border-width: 0px;
    border-style: solid;
  }
  .div-9 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: flex-start;
    align-self: stretch;
    width: 120px;
    align-items: flex-start;
    background-image: url("https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fb2b12f2366a84ae0a00ce02e94acc5c9");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .div-10 {
    display: flex;
    max-width: 120px;
    height: 185px;
    width: 120px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
  }
  .div-11 {
    display: flex;
    flex-direction: row;
    max-width: 120px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.05000000074505806),
      0px 4px 6px -1px rgba(0, 0, 0, 0.10000000149011612);
    border-color: rgba(229, 231, 235, 1);
    border-width: 0px;
    border-style: solid;
  }
  .div-12 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: flex-start;
    align-self: stretch;
    width: 120px;
    align-items: flex-start;
    background-image: url("https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F9d1fd7900ca146658c5eb7df52e54e4e");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .div-13 {
    display: flex;
    max-width: 120px;
    height: 185px;
    width: 120px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
  }
  .div-14 {
    display: flex;
    flex-direction: row;
    max-width: 120px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.05000000074505806),
      0px 4px 6px -1px rgba(0, 0, 0, 0.10000000149011612);
    border-color: rgba(229, 231, 235, 1);
    border-width: 0px;
    border-style: solid;
  }
  .div-15 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: flex-start;
    align-self: stretch;
    width: 120px;
    align-items: flex-start;
    background-image: url("https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fd47a334d20f24ce2a8033d0b163d7b9f");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .div-16 {
    display: flex;
    max-width: 120px;
    height: 185px;
    width: 120px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
  }
  .div-17 {
    display: flex;
    flex-direction: row;
    max-width: 120px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.05000000074505806),
      0px 4px 6px -1px rgba(0, 0, 0, 0.10000000149011612);
    border-color: rgba(229, 231, 235, 1);
    border-width: 0px;
    border-style: solid;
  }
  .div-18 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: flex-start;
    align-self: stretch;
    width: 120px;
    align-items: flex-start;
    background-image: url("https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Ff2b6c268f7ad40eb8ef6707d98038ae4");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .div-19 {
    display: flex;
    max-width: 120px;
    height: 185px;
    width: 120px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
  }
  .div-20 {
    display: flex;
    flex-direction: row;
    max-width: 120px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.05000000074505806),
      0px 4px 6px -1px rgba(0, 0, 0, 0.10000000149011612);
    border-color: rgba(229, 231, 235, 1);
    border-width: 0px;
    border-style: solid;
  }
  .div-21 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: flex-start;
    align-self: stretch;
    width: 120px;
    align-items: flex-start;
    background-image: url("https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F025dc1859c7742b9800d6e162f1aef15");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .div-22 {
    display: flex;
    max-width: 120px;
    height: 185px;
    width: 120px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
  }
  .div-23 {
    display: flex;
    flex-direction: row;
    max-width: 120px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.05000000074505806),
      0px 4px 6px -1px rgba(0, 0, 0, 0.10000000149011612);
    border-color: rgba(229, 231, 235, 1);
    border-width: 0px;
    border-style: solid;
  }
  .div-24 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: flex-start;
    align-self: stretch;
    width: 120px;
    align-items: flex-start;
    background-image: url("https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fc575f6f269be4335ab121dcb59b54f81");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .div-25 {
    display: flex;
    max-width: 120px;
    height: 185px;
    width: 120px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
  }
  .div-26 {
    display: flex;
    flex-direction: row;
    max-width: 120px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.05000000074505806),
      0px 4px 6px -1px rgba(0, 0, 0, 0.10000000149011612);
    border-color: rgba(229, 231, 235, 1);
    border-width: 0px;
    border-style: solid;
  }
  .div-27 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: flex-start;
    align-self: stretch;
    width: 120px;
    align-items: flex-start;
    background-image: url("https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F200d6f51916d44c4b82f94d31b37f622");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .div-28 {
    display: flex;
    max-width: 120px;
    height: 185px;
    width: 120px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
  }