.overlay {
  background-color: rgba(0, 0, 0, 0.333);
  position: fixed;
  z-index: 95536;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.popup-body-wrap {
  display: flex;
}

.popup-body {
  background-color: #FFF;
  max-height: 90%;
  width: 1200px;
  height: auto;
  margin: 2% 5%;
  border-radius: 4px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 999;
  display: flex;
  flex-direction: column;
  &.small {
    margin: 2% auto;
    width: 800px;
    max-width: 90%;
  }
  &:before {
    display: flex;
    align-self: flex-start;
  }
}

.corner-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  height: 40px;
  border-radius: 0;
  box-shadow: none;
}

.popup-header, .popup-footer {
  display: block !important;
  position: relative;
  height: 40px;
  flex: none !important;
  .popup-title {
    color: #FFF;
    padding: 8px $-m;
  }
}
body.flexbox-support #entity-selector-wrap .popup-body .form-group {
  height: 444px;
  min-height: 444px;
}
#entity-selector-wrap .popup-body .form-group {
  margin: 0;
}
//body.ie #entity-selector-wrap .popup-body .form-group {
//  min-height: 60vh;
//}

.image-manager-body {
  min-height: 70vh;
}

.dropzone-container {
  position: relative;
  border: 3px dashed #DDD;
}

.image-manager-list .image {
  display: block;
  position: relative;
  border-radius: 0;
  float: left;
  margin: 0;
  cursor: pointer;
  width: (100%/6);
  height: auto;
  border: 1px solid #DDD;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  transition: all cubic-bezier(.4, 0, 1, 1) 160ms;
  overflow: hidden;
  &.selected {
    transform: scale3d(0.92, 0.92, 0.92);
    border: 1px solid #444;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  }
  img {
    width: 100%;
    max-width: 100%;
    display: block;
  }
  .image-meta {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    color: #EEE;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 10px;
    padding: 3px 4px;
    span {
      display: block;
    }
  }
  @include smaller-than($xl) {
    width: (100%/4);
  }
  @include smaller-than($m) {
    .image-meta {
      display: none;
    }
  }
}

#image-manager .load-more {
  display: block;
  text-align: center;
  background-color: #EEE;
  padding: $-s $-m;
  color: #AAA;
  clear: both;
  font-size: 20px;
  cursor: pointer;
  font-style: italic;
}

.image-manager-sidebar {
  width: 300px;
  margin-left: 1px;
  padding: $-m $-l;
  overflow-y: auto;
  border-left: 1px solid #DDD;
  .dropzone-container {
    margin-top: $-m;
  }
}

.image-manager-list {
  overflow-y: scroll;
  flex: 1;
}

.image-manager-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  .container {
    width: 100%;
  }
  .full-tab {
    text-align: center;
  }
}

// Dropzone
/*
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */
.dz-message {
  font-size: 1.2em;
  line-height: 1.1;
  font-style: italic;
  color: #aaa;
  text-align: center;
  cursor: pointer;
  padding: $-l $-m;
  transition: all ease-in-out 120ms;
}

.dz-drag-hover .dz-message {
  background-color: rgb(16, 126, 210);
  color: #EEE;
}

@keyframes passing-through {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  30%, 70% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
}

.dropzone, .dropzone * {
  box-sizing: border-box;
}

.dz-preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 12px;
  min-height: 80px;
}

.dz-preview:hover {
  z-index: 1000;
}

.dz-preview:hover .dz-details {
  opacity: 1;
}

.dz-preview.dz-file-preview .dz-image {
  border-radius: 4px;
  background: #999;
  background: linear-gradient(to bottom, #eee, #ddd);
}

.dz-preview.dz-file-preview .dz-details {
  opacity: 1;
}

.dz-preview.dz-image-preview {
  background: white;
}

.dz-preview.dz-image-preview .dz-details {
  transition: opacity 0.2s linear;
}

.dz-preview .dz-remove {
  font-size: 14px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
}

.dz-preview .dz-remove:hover {
  text-decoration: underline;
}

.dz-preview:hover .dz-details {
  opacity: 1;
}

.dz-preview .dz-details {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 10px;
  min-width: 100%;
  max-width: 100%;
  padding: 6px 3px;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  line-height: 150%;
}

.dz-preview .dz-details .dz-size {
  margin-bottom: 0.5em;
  font-size: 12px;
}

.dz-preview .dz-details .dz-filename {
  white-space: nowrap;
}

.dz-preview .dz-details .dz-filename:hover span {
  border: 1px solid rgba(200, 200, 200, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
}

.dz-preview .dz-details .dz-filename:not(:hover) {
  overflow: hidden;
  text-overflow: ellipsis;
}

.dz-preview .dz-details .dz-filename:not(:hover) span {
  border: 1px solid transparent;
}

.dz-preview .dz-details .dz-filename span, .dz-preview .dz-details .dz-size span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
  border-radius: 3px;
}

.dz-preview:hover .dz-image img {
  filter: blur(8px);
}

.dz-preview .dz-image {
  border-radius: 4px;
  overflow: hidden;
  width: 80px;
  height: 80px;
  position: relative;
  display: block;
  z-index: 10;
}

.dz-preview .dz-image img {
  display: block;
}

.dz-preview.dz-success .dz-success-mark {
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
}

.dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
}

.dz-preview .dz-success-mark, .dz-preview .dz-error-mark {
  pointer-events: none;
  opacity: 0;
  z-index: 500;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -27px;
}

.dz-preview .dz-success-mark svg, .dz-preview .dz-error-mark svg {
  display: block;
  width: 54px;
  height: 54px;
}

.dz-preview.dz-processing .dz-progress {
  opacity: 1;
  transition: all 0.2s linear;
}

.dz-preview.dz-complete .dz-progress {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.dz-preview:not(.dz-processing) .dz-progress {
  animation: pulse 6s ease infinite;
}

.dz-preview .dz-progress {
  opacity: 1;
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  height: 16px;
  left: 50%;
  top: 50%;
  margin-top: -8px;
  width: 80px;
  margin-left: -40px;
  background: rgba(255, 255, 255, 0.9);
  transform: scale(1);
  border-radius: 8px;
  overflow: hidden;
}

.dz-preview .dz-progress .dz-upload {
  background: #333;
  background: linear-gradient(to bottom, #666, #444);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  transition: width 300ms ease-in-out;
}

.dz-preview.dz-error .dz-error-message {
  display: block;
}

.dz-preview.dz-error:hover .dz-error-message {
  opacity: 1;
  pointer-events: auto;
}

.dz-preview .dz-error-message {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  display: block;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 4px;
  font-size: 11.5px;
  line-height: 1.2;
  top: 88px;
  left: -26px;
  width: 148px;
  background: $negative;
  padding: $-xs;
  color: white;
}

.dz-preview .dz-error-message:after {
  content: '';
  position: absolute;
  top: -6px;
  left: 64px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid $negative;
}


[tab-container] .nav-tabs {
  text-align: left;
  border-bottom: 1px solid #DDD;
  margin-bottom: $-m;
  .tab-item {
    padding: $-s;
    color: #666;
    &.selected {
      border-bottom-width: 3px;
    }
  }
}

.image-picker .none {
  display: none;
}