/**
 * Includes the main navigation header and the faded toolbar.
 */

header .grid {
  grid-template-columns: auto min-content auto;
}

@include smaller-than($l) {
  header .grid {
    grid-template-columns: 1fr;
    grid-row-gap: 0;
  }
}

header {
  position: relative;
  display: block;
  z-index: 11;
  top: 0;
  color: #fff;
  fill: #fff;
  border-bottom: 1px solid #DDD;
  box-shadow: $bs-card;
  padding: $-xxs 0;
  .links {
    display: inline-block;
    vertical-align: top;
  }
  .links a {
    display: inline-block;
    padding: $-m;
    color: #FFF;
    fill: #FFF;
  }
  .dropdown-container {
    padding-left: $-m;
    padding-right: 0;
  }
  .avatar, .user-name {
    display: inline-block;
  }
  .avatar {
    width: 30px;
    height: 30px;
  }
  .user-name {
    vertical-align: top;
    position: relative;
    display: inline-block;
    cursor: pointer;
    > * {
      vertical-align: top;
    }
    > span {
      padding-left: $-xs;
      display: inline-block;
      padding-top: $-xxs;
    }
    > svg {
      padding-top: 4px;
      font-size: 18px;
    }
    @include between($l, $xl) {
      padding-left: $-xs;
      .name {
        display: none;
      }
    }
  }
}

.header *, .primary-background * {
  outline-color: #FFF;
}


.header-search {
  display: inline-block;
}
header .search-box {
  display: inline-block;
  margin-top: 10px;
  input {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    color: #EEE;
    z-index: 2;
    padding-left: 40px;
    &:focus {
      outline: none;
      border: 1px solid rgba(255, 255, 255, 0.6);
    }
  }
  button {
    fill: #EEE;
    z-index: 1;
    left: 16px;
    svg {
      margin-right: 0;
    }
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #DDD;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #DDD;
  }
  @include between($l, $xl) {
    max-width: 200px;
  }
}

.logo {
  display: inline-block;
  &:hover {
    color: #FFF;
    text-decoration: none;
  }
}
.logo-text {
  display: inline-block;
  font-size: 1.8em;
  color: #fff;
  font-weight: 400;
  padding: 14px $-l 14px 0;
  vertical-align: top;
  line-height: 1;
}
.logo-image {
  margin: $-xs $-s $-xs 0;
  vertical-align: top;
  height: 43px;
}

.mobile-menu-toggle {
  color: #FFF;
  fill: #FFF;
  font-size: 2em;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 0 $-xs;
  position: absolute;
  right: $-m;
  top: 13px;
  line-height: 1;
  cursor: pointer;
  user-select: none;
  svg {
    margin: 0;
    bottom: -2px;
  }
}

@include smaller-than($l) {
  header .header-links {
    display: none;
    background-color: #FFF;
    z-index: 10;
    right: $-m;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    box-shadow: $bs-hover;
    margin-top: -$-xs;
    &.show {
      display: block;
    }
  }
  header .links a, header .dropdown-container ul li a {
    text-align: left;
    display: block;
    padding: $-s $-m;
    color: $text-dark;
    fill: $text-dark;
    svg {
      margin-right: $-s;
    }
    &:hover {
      background-color: #EEE;
      color: #444;
      fill: #444;
      text-decoration: none;
    }
  }
  header .dropdown-container {
    display: block;
    padding-left: 0;
  }
  header .links {
    display: block;
  }
  header .dropdown-container ul {
    display: block !important;
    position: relative;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: none;
  }
}

.tri-layout-mobile-tabs {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #FFF;
  border-bottom: 1px solid #DDD;
  box-shadow: $bs-card;
}
.tri-layout-mobile-tab {
  text-align: center;
  border-bottom: 3px solid #BBB;
  cursor: pointer;
  &:first-child {
    border-right: 1px solid #DDD;
  }
  &.active {
    border-bottom-color: currentColor;
  }
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  opacity: 0.7;
  .icon-list-item {
    width: auto;
    padding-top: $-xs;
    padding-bottom: $-xs;
  }
  .separator {
    display: inline-block;
    fill: #aaa;
    font-size: 1.6em;
    line-height: 0.8;
    margin: -2px 0 0;
  }
  &:hover, &:focus-within {
    opacity: 1;
  }
}

@include smaller-than($l) {
  .breadcrumbs .icon-list-item {
    padding: $-xs;
    > span + span {
      display: none;
    }
    > span:first-child {
      margin-right: 0;
    }
  }
}

.breadcrumb-listing {
  position: relative;
  .breadcrumb-listing-toggle {
    padding: 6px;
    border: 1px solid transparent;
    border-radius: 4px;
    &:hover {
      border-color: #DDD;
    }
  }
  .svg-icon {
    margin-right: 0;
  }
}

.breadcrumb-listing-dropdown {
  box-shadow: $bs-med;
  overflow: hidden;
  min-height: 100px;
  width: 240px;
  display: none;
  position: absolute;
  z-index: 80;
  right: -$-m;
  .breadcrumb-listing-search .svg-icon {
    position: absolute;
    left: $-s;
    top: 11px;
    fill: #888;
    pointer-events: none;
  }
  .breadcrumb-listing-entity-list {
    max-height: 400px;
    overflow-y: scroll;
    text-align: left;
  }
  input {
    padding-left: $-xl;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #DDD;
  }
}

@include smaller-than($m) {
  .breadcrumb-listing-dropdown {
    position: fixed;
    right: auto;
    left: $-m;
  }
  .breadcrumb-listing-dropdown .breadcrumb-listing-entity-list {
    max-height: 240px;
  }
}

.faded {
  a, button, span, span > div {
    color: #666;
    fill: #666;
  }
  .text-button {
    opacity: 0.5;
    transition: all ease-in-out 120ms;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
}

.faded span.faded-text {
  display: inline-block;
  padding: $-s;
}

.action-buttons .text-button {
  display: inline-block;
  padding: $-xs $-s;
  &:last-child {
    padding-right: 0;
  }
  &:first-child {
    padding-left: 0;
  }
}


.action-buttons .dropdown-container:last-child a {
  padding-right: 0;
  padding-left: $-s;
}
.action-buttons {
  text-align: right;
  &.text-left {
    text-align: left;
    .text-button {
      padding-right: $-m;
      padding-left: 0;
    }
  }
  &.text-center {
    text-align: center;
  }
}

@include smaller-than($m) {
  .action-buttons .text-button {
    padding: $-xs $-xs;
  }
  .action-buttons .dropdown-container:last-child a {
    padding-left: $-xs;
  }
}