* {
  box-sizing: border-box;
}
html {
  background-color: #FFFFFF;
  height: 100%;
}
body {
  font-family: $text;
  font-size: $fs-m;
  line-height: 1.6;
  color: #616161;
  -webkit-font-smoothing: antialiased;
}

button {
  font-size: 100%;
}

table {
  min-width: 100px;
  td {
	min-width: 10px;
	padding: 4px 6px;
	border: 1px solid #DDD;
  }
}