* {
	box-sizing: border-box;
}
html {
	background-color: #f8f8f8;
}
body {
	font-family: $text;
	font-size: $fs-m;
	line-height: 1.4em;
	color: #444;
	-webkit-font-smoothing: antialiased;
}

table {
  min-width: 100px;
  td {
	min-width: 10px;
	padding: 4px 6px;
	border: 1px solid #DDD;
  }
}