* {
  box-sizing: border-box;
}

html {
  background-color: #FFFFFF;
  height: 100%;
  overflow-y: scroll;
  &.flexbox {
    overflow-y: hidden;
  }
}

body {
  font-size: $fs-m;
  line-height: 1.6;
  color: #616161;
  -webkit-font-smoothing: antialiased;
  &.shaded {
    background-color: #F2F2F2;
  }
}

button {
  font-size: 100%;
}