.page-list {
  h4 {
    margin: $-l 0 $-xs 0;
    font-size: 1.666em;
  }
  a.chapter {
    color: $color-chapter;
  }
  .inset-list {
    display: none;
    overflow: hidden;
  }
  h5 {
    display: block;
    margin: $-s 0 0 0;
    border-left: 5px solid $color-page;
    padding: $-xs 0 $-xs $-m;
    font-size: 1.1em;
    font-weight: normal;
    &.draft {
      border-left-color: $color-page-draft;
    }
  }
  .entity-list-item {
    margin-bottom: $-m;
  }
  hr {
    margin-top: 0;
  }
  .page, .chapter, .book {
    padding-left: $-l;
  }
  .page {
    border-left: 5px solid $color-page;
  }
  .page.draft {
    border-left: 5px solid $color-page-draft;
    .text-page {
      color: $color-page-draft;
      fill: $color-page-draft;
    }
  }
  .chapter {
    border-left: 5px solid $color-chapter;
  }
  .book {
    border-left: 5px solid $color-book;
  }
  .meta {
    margin-top: -$-m;
    font-size: 0.95em;
  }
  .meta span {
    margin-right: $-s;
  }
}

@include smaller-than($s) {
  .page-list h4 {
    font-size: 1.333em;
  }
}

.sidebar-page-nav {
  $nav-indent: $-s;
  list-style: none;
  margin: $-s 0 $-m 2px;
  border-left: 2px dotted #BBB;
  li {
    padding-left: $-s;
    margin-bottom: 4px;
    font-size: 0.95em;
  }
  .h1 {
    margin-left: -2px;
  }
  .h2 {
    margin-left: -2px;
  }
  .h3 {
    margin-left: $nav-indent;
  }
  .h4 {
    margin-left: $nav-indent*2;
  }
  .h5 {
    margin-left: $nav-indent*3;
  }
  .h6 {
    margin-left: $nav-indent*4;
  }
  .current-heading {
    font-weight: bold;
  }
}

// Sidebar list
.book-tree .book.entity-list-item {
  font-size: 0.6rem;
  h4 {
    font-size: 1rem;
    margin: 0;
  }
}
.book-tree .sidebar-page-list {
  list-style: none;
  margin: $-xs 0 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  ul {
    list-style: none;
    padding-left: 1rem;
    padding-right: 0;
  }
  .entity-icon {
    font-size: 12px;
    z-index: 2;
    background-color: #FFF;
  }
  .entity-list-item-name {
    font-size: 1em;
    margin: 0;
  }
  .entity-list-item {
    font-size: 0.8rem;
  }
  .entity-list-item.selected {
    background-color: #F2F2F2;
  }
  .chapter-child-menu {
    font-size: 12px;
    padding-left: 2rem;
    margin-top: -.2rem;
  }
  [chapter-toggle] {
    padding-left: 1.5rem;
    padding-bottom: .2rem;
  }
  &:after, .sub-menu:after {
    content: '';
    display: block;
    position: absolute;
    left: 1.6rem;
    top: 1rem;
    bottom: 1rem;
    border-left: 2px solid #DDD;
    opacity: 0.6;
    z-index: 1;
  }
}

.chapter-child-menu {
  ul.sub-menu {
    display: none;
    padding-left: 0;
    position: relative;
  }
  [chapter-toggle].open + .sub-menu {
    display: block;
  }
}

// Sortable Lists
.sortable-page-list, .sortable-page-list ul {
  list-style: none;
  background-color: #FFF;
}
.sort-box {
  margin-bottom: $-m;
  padding: 0 $-l 0 $-l;
  border-left: 4px solid $color-book;
}
.sortable-page-list {
  margin-left: 0;
  > ul {
    margin-left: 0;
  }
  ul {
    margin-bottom: 0;
    margin-top: 0;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  li {
    border: 1px solid #DDD;
    padding: $-xs $-s;
    margin-top: -1px;
    min-height: 38px;
    &.text-chapter {
      border-left: 2px solid $color-chapter;
    }
    &.text-page {
      border-left: 2px solid $color-page;
    }
  }
  li:first-child {
    margin-top: $-xs;
  }
}
.sortable-page-list li.placeholder {
  position: relative;
}
.sortable-page-list li.placeholder:before {
  position: absolute;
}

.activity-list-item {
  padding: $-s $-m;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: $-m;
  color: #888;
  fill: #888;
  font-size: 0.9em;
}

ul.pagination {
  display: inline-block;
  list-style: none;
  margin: $-m 0;
  padding-left: 1px;
  li {
    float: left;
  }
  li:first-child {
    a, span {
      border-radius: 3px 0 0 3px;
    }
  }
  li:last-child {
    a, span {
      border-radius: 0 3px 3px 0;
    }
  }
  a, span {
    display: block;
    padding: $-xxs $-s;
    border: 1px solid #CCC;
    margin-left: -1px;
    user-select: none;
    &.disabled {
      cursor: not-allowed;
    }
  }
  li.active span {
    color: #FFF;
  }
}

.compact ul.pagination {
  margin: 0;
}

.entity-list, .icon-list {
  margin: 0 (-$-m);
  h4 {
    margin: 0;
  }
  hr {
    margin: 0;
  }
  .text-small.text-muted {
    color: #AAA;
    font-size: 0.75em;
    margin-top: $-xs;
  }
  .text-muted p.text-muted {
    margin-top: 0;
  }
  .page.draft .text-page {
    color: $color-page-draft;
    fill: $color-page-draft;
  }
}

.entity-list-item, .icon-list-item {
  padding: $-s $-m;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: $-m;
  align-items: top;
  > .content {
    padding-top: 2px;
  }
  .icon {
    font-size: 1rem;
  }
  h4 a {
    color: #666;
  }
  &:hover {
    text-decoration: none;
    background-color: #DDD;
    border-radius: 4px;
  }
}

.card a.entity-list-item:hover {
  background-color: #F2F2F2;
}

.entity-list-item-image {
  width: 140px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 3px;
  @include smaller-than($m) {
    width: 80px;
  }
}

.entity-list.compact {
  font-size: 0.6 * $fs-m;
  h4, a {
    line-height: 1.2;
  }
  .entity-item-snippet {
    display: none;
  }
  .entity-list-item p {
    font-size: $fs-m * 0.8;
    padding-top: $-xs;
  }
  p {
    margin: 0;
  }
  > p.empty-text {
    display: block;
    font-size: $fs-m;
  }
  hr {
    margin: 0;
  }
  @include smaller-than($m) {
    h4 {
      font-size: 1.666em;
    }
  }
}

.dropdown-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.dropdown-container ul {
  display: none;
  position: absolute;
  z-index: 999;
  top: 0;
  list-style: none;
  right: 0;
  margin: $-m 0;
  background-color: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  border: 1px solid #EEE;
  min-width: 180px;
  padding: $-xs 0;
  color: #555;
  fill: #555;
  text-align: left !important;
  &.wide {
    min-width: 220px;
  }
  .text-muted {
    color: #999;
    fill: #999;
  }
  li.padded {
    padding: $-xs $-m;
    line-height: 1.2;
  }
  li.active a {
    font-weight: 600;
  }
  a, button {
    display: block;
    padding: $-xs $-m;
    color: #555;
    fill: #555;
    white-space: nowrap;
    &:hover {
      text-decoration: none;
      background-color: #EEE;
    }
    svg {
      margin-right: $-s;
      display: inline-block;
      width: 16px;
    }
  }
  button {
    width: 100%;
    text-align: left;
  }
  li.border-bottom {
    border-bottom: 1px solid #DDD;
  }
}

// Books grid view
.featured-image-container {
  position: relative;
  overflow: hidden;
  background: #F2F2F2;
  a {
    display: block;
  }
  img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    transition: all .5s ease-in-out;
  }
  img:hover {
    transform: scale(1.15);
    opacity: .5;
  }
}

.action-link-list {
  //padding: $-s 0;
}
.action-link {
  background: transparent;
  border: none;
  color: currentColor;
  padding: $-m 0;
}

