.page-editor {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  .faded-small {
    height: auto;
  }
  .edit-area {
    flex: 1;
    flex-direction: column;
  }
}

.page-style.editor {
  padding: 0 !important;
}

.page-content {
  max-width: 840px;
  overflow-wrap: break-word;
  .align-left {
    float: left !important;
    text-align: left;
    margin: $-xs $-s $-xs 0;
  }
  .align-right {
    float: right !important;
    text-align: right;
    margin: $-xs 0 $-xs $-s;
  }
  .align-center {
    text-align: center;
  }
  img {
    max-width: 100%;
    height:auto;
  }
  h1, h2, h3, h4, h5, h6 {
    clear: both;
  }
  hr {
    clear: both;
    margin: $-m 0;
  }
  table {
    word-break: break-all;
  }
}

// Page content pointers
.pointer-container {
  position: relative;
  display: none;
  left: 2%;
}
.pointer {
  border: 1px solid #CCC;
  display: inline-block;
  padding: $-xs $-s;
  border-radius: 4px;
  box-shadow: 0 0 8px 1px rgba(212, 209, 209, 0.35);
  position: absolute;
  top: -60px;
  background-color:#FFF;
  &:before {
    position: absolute;
    left: 50%;
    bottom: -9px;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    content: '';
    display: block;
    background-color:#FFF;
    transform: rotate(45deg);
    transform-origin: 50% 50%;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    z-index: 1;
  }
  input {
    background-color: #FFF;
    border: 1px solid #DDD;
    color: #666;
    width: 180px;
    z-index: 40;
  }
  input, button {
    position: relative;
    border-radius: 0;
    height: 28px;
    font-size: 12px;
  }
  > i {
    color: #888;
    font-size: 18px;
    padding-top: 4px;
  }
  .button {
    line-height: 1;
    margin: 0 0 0 -4px;
    box-shadow: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  &:hover a.link-hook {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
