
//.mce-container {
//  .mce-menubar, .mce-toolbar-grp {
//    position: fixed;
//    width: 100%;
//  }
//  .mce-container-body {
//    position: relative;
//    overflow: hidden;
//    display: block;
//  }
//}

.mce-tinymce.mce-container.fullscreen {
  position: fixed;
  top: 0;
  height: 100%;
  width: 825px;
  max-width: 100%;
  margin-left: -$-s;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.08);
}