
.mce-tinymce.mce-container.mce-fullscreen {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  z-index: 100;
}

.mce-tinymce {
  .mce-panel {
    background-color: #FFF;
  }
  .mce-btn {
    background-color: #FFF;
  }
}

.mce-container-body.mce-flow-layout {
  text-align: center;
}

@include smaller-than($l) {
  .mce-container-body.mce-flow-layout {
    overflow-x: scroll;
    white-space: nowrap;
  }
}

.edit-area.flex > div > .mce-tinymce.mce-container.mce-panel {
  flex: 1 1 auto;
  display: flex !important;
  flex-direction: column;
  align-items: stretch;
  margin: 0 -1px;
  > .mce-container-body {
    flex: 1 1 auto;
    display: flex !important;
    flex-direction: column;
    align-items: stretch;
    > .mce-toolbar-grp {
      flex: 0 1 auto;
    }
    > .mce-edit-area {
      flex: 1 1 auto;
      display: flex !important;
      flex-direction: column;
      align-items: stretch;
      iframe {
        flex: 1;
      }
    }
  }
}
.page-content.mce-content-body p {
  line-height: 1.6;
}

// Fix to prevent 'No color' option from not being clickable.
.mce-colorbtn-trans {
  overflow: hidden;
}

// Fix to prevent CodeMirror focus events throwing TinyMCE cursor position.
.mce-content-body .CodeMirrorContainer > .CodeMirror {
  pointer-events: none;
}