.image-manager-body {
  background-color: rgb(37, 37, 37);
  max-width: 90%;
  max-height: 90%;
  width: 90%;
  height: 90%;
  margin: 2% 5%;
  //border: 2px solid $primary;
  border-radius: 4px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  .image-manager-list img {
    border-radius: 0;
    float: left;
    margin: 1px;
    cursor: pointer;
  }
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: flex;
  p, h1, h2, h3, h4, label, input {
    color: #EEE;
  }
  h1, h2, h3 {
    font-weight: 300;
  }
}
#image-manager .dropzone-container {
  height: 100px;
  position: relative;
}

#container {
  height: 90vh;
}


#image-manager .load-more {
  width: 150px;
  height: 150px;
  display: block;
  float: left;
  text-align: center;
  background-color: #404040;
  margin: 1px;
  color: #FFF;
  line-height: 140px;
  font-size: 20px;
  cursor: pointer;
}

.image-manager-sidebar {
  width: 300px;
  height: 100%;
  margin-left: 1px;
  padding: 0 $-l;
  border-left: 1px solid #DDD;
}
.image-manager-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border-radius: 0;
}
.image-manager-list {
  overflow-y: scroll;
  flex: 1;
}

.image-manager-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}




// Dropzone
/*
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */
.dz-message {
  font-size: 1.6em;
  font-style: italic;
  color: #aaa;
  text-align: center;
  line-height: 90px;
  cursor: pointer;
  transition: all ease-in-out 120ms;
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 400px;
  width: 400px;
  margin-left: -200px;
}
.dz-drag-hover .dz-message {
  background-color: rgb(16, 126, 210);
  color: #EEE;
}
@keyframes passing-through {
  0% {
    opacity: 0;
    transform: translateY(40px); }
  30%, 70% {
    opacity: 1;
    transform: translateY(0px); }
  100% {
    opacity: 0;
    transform: translateY(-40px); } }

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(40px); }
  30% {
    opacity: 1;
    transform: translateY(0px); } }
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
.dropzone, .dropzone * {
  box-sizing: border-box; }


.dz-preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 12px;
  min-height: 80px; }
.dz-preview:hover {
  z-index: 1000; }
.dz-preview:hover .dz-details {
  opacity: 1; }
.dz-preview.dz-file-preview .dz-image {
  border-radius: 4px;
  background: #999;
  background: linear-gradient(to bottom, #eee, #ddd); }
.dz-preview.dz-file-preview .dz-details {
  opacity: 1; }
.dz-preview.dz-image-preview {
  background: white; }
.dz-preview.dz-image-preview .dz-details {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }
.dz-preview .dz-remove {
  font-size: 14px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none; }
.dz-preview .dz-remove:hover {
  text-decoration: underline; }
.dz-preview:hover .dz-details {
  opacity: 1; }
.dz-preview .dz-details {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 10px;
  min-width: 100%;
  max-width: 100%;
  padding: 6px 3px;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  line-height: 150%; }
.dz-preview .dz-details .dz-size {
  margin-bottom: 0.5em;
  font-size: 12px; }
.dz-preview .dz-details .dz-filename {
  white-space: nowrap; }
.dz-preview .dz-details .dz-filename:hover span {
  border: 1px solid rgba(200, 200, 200, 0.8);
  background-color: rgba(255, 255, 255, 0.8); }
.dz-preview .dz-details .dz-filename:not(:hover) {
  overflow: hidden;
  text-overflow: ellipsis; }
.dz-preview .dz-details .dz-filename:not(:hover) span {
  border: 1px solid transparent; }
.dz-preview .dz-details .dz-filename span, .dz-preview .dz-details .dz-size span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
  border-radius: 3px; }
.dz-preview:hover .dz-image img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-filter: blur(8px);
  filter: blur(8px); }
.dz-preview .dz-image {
  border-radius: 4px;
  overflow: hidden;
  width: 80px;
  height: 80px;
  position: relative;
  display: block;
  z-index: 10; }
.dz-preview .dz-image img {
  display: block; }
.dz-preview.dz-success .dz-success-mark {
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); }
.dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); }
.dz-preview .dz-success-mark, .dz-preview .dz-error-mark {
  pointer-events: none;
  opacity: 0;
  z-index: 500;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -27px; }
.dz-preview .dz-success-mark svg, .dz-preview .dz-error-mark svg {
  display: block;
  width: 54px;
  height: 54px; }
.dz-preview.dz-processing .dz-progress {
  opacity: 1;
  transition: all 0.2s linear; }
.dz-preview.dz-complete .dz-progress {
  opacity: 0;
  transition: opacity 0.4s ease-in; }
.dz-preview:not(.dz-processing) .dz-progress {
  animation: pulse 6s ease infinite; }
.dz-preview .dz-progress {
  opacity: 1;
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  height: 16px;
  left: 50%;
  top: 50%;
  margin-top: -8px;
  width: 80px;
  margin-left: -40px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: scale(1);
  border-radius: 8px;
  overflow: hidden; }
.dz-preview .dz-progress .dz-upload {
  background: #333;
  background: linear-gradient(to bottom, #666, #444);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  transition: width 300ms ease-in-out; }
.dz-preview.dz-error .dz-error-message {
  display: block; }
.dz-preview.dz-error:hover .dz-error-message {
  opacity: 1;
  pointer-events: auto; }
.dz-preview .dz-error-message {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  display: block;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  font-size: 13px;
  top: 130px;
  left: -10px;
  width: 140px;
  background: #be2626;
  background: linear-gradient(to bottom, #be2626, #a92222);
  padding: 0.5em 1.2em;
  color: white; }
.dz-preview .dz-error-message:after {
  content: '';
  position: absolute;
  top: -6px;
  left: 64px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #be2626; }
