@import "variables";

header {
  display: none;
}

body {
  font-size: 12px;
}

.page-content {
  margin: 0 auto;
}

.flex-fill {
  display: block;
}

.flex.sidebar + .flex.content {
  border-left: none;
}

.print-hidden {
  display: none;
}

.print-full-width {
  width: 100%;
  float: none;
  display: block;
}

h2 {
  font-size: 2em;
  line-height: 1;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
}

.comments-container {
  display: none;
}