@import "reset";
@import "variables";
@import "mixins";
@import "html";
@import "text";
@import "colors";
@import "grid";
@import "blocks";
@import "buttons";
@import "tables";
@import "forms";
@import "animations";
@import "tinymce";
@import "codemirror";
@import "components";
@import "header";
@import "lists";
@import "pages";

[v-cloak] {
  display: none; opacity: 0;
  animation-name: none !important;
}

// Jquery Sortable Styles
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
body.dragging, body.dragging * {
  cursor: move !important;
}

// User Avatar Images
.avatar {
  border-radius: 100%;
  background-color: #EEE;
  width: 30px;
  height: 30px;
  &.med {
    width: 40px;
    height: 40px;
  }
  &.large {
    width: 80px;
    height: 80px;
  }
  &.huge {
    width: 120px;
    height: 120px;
  }
  &.square {
    border-radius: 3px;
  }
}

// Loading icon
$loadingSize: 10px;
.loading-container {
  position: relative;
  display: block;
  margin: $-xl auto;
  > div {
    width: $loadingSize;
    height: $loadingSize;
    border-radius: $loadingSize;
    display: inline-block;
    vertical-align: top;
    transform: translate3d(-10px, 0, 0);
    margin-top: $-xs;
    animation-name: loadingBob;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.62, .28, .23, .99);
    margin-right: 4px;
    background-color: $color-page;
    animation-delay: 0.3s;
  }
  > div:first-child {
      left: -($loadingSize+$-xs);
      background-color: $color-book;
      animation-delay: 0s;
  }
  > div:last-of-type {
    left: $loadingSize+$-xs;
    background-color: $color-chapter;
    animation-delay: 0.6s;
  }
  > span {
    margin-left: $-s;
    font-style: italic;
    color: #888;
    vertical-align: top;
  }
}


// Search results
.search-results > h3 a {
  font-size: 0.66em;
  color: $primary;
  padding-left: $-m;
  i {
    padding-right: $-s;
  }
}

// Back to top link
$btt-size: 40px;
[back-to-top] {
  background-color: $primary;
  position: fixed;
  bottom: $-m;
  right: $-l;
  padding: 5px 7px;
  cursor: pointer;
  color: #FFF;
  fill: #FFF;
  svg {
    width: $btt-size / 1.5;
    height: $btt-size / 1.5;
    margin-right: 4px;
  }
  width: $btt-size;
  height: $btt-size;
  border-radius: $btt-size;
  transition: all ease-in-out 180ms;
  opacity: 0;
  z-index: 999;
  overflow: hidden;
  &:hover {
    width: $btt-size*3.4;
    opacity: 1 !important;
  }
  .inner {
    width: $btt-size*3.4;
  }
  span {
    position: relative;
    vertical-align: top;
    line-height: 2;
  }
}

.contained-search-box {
  display: flex;
  input, button {
    border-radius: 0;
    border: 1px solid #DDD;
    margin-left: -1px;
  }
  input {
    flex: 5;
    padding: $-xs $-s;
    &:focus, &:active {
      outline: 0;
    }
  }
  button {
    width: 60px;
  }
  button i {
    padding: 0;
  }
  button.cancel.active {
    background-color: $negative;
    color: #EEE;
  }
}

.entity-selector {
  border: 1px solid #DDD;
  border-radius: 3px;
  overflow: hidden;
  font-size: 0.8em;
  input[type="text"] {
    width: 100%;
    display: block;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #DDD;
    font-size: 16px;
    padding: $-s $-m;
  }
  .entity-list {
    overflow-y: scroll;
    height: 400px;
    background-color: #EEEEEE;
  }
  .loading {
    height: 400px;
    padding-top: $-l;
  }
  .entity-list > p {
    text-align: center;
    padding-top: $-l;
    font-size: 1.333em;
  }
  .entity-list > div {
    padding-left: $-m;
    padding-right: $-m;
    background-color: #FFF;
    transition: all ease-in-out 120ms;
    cursor: pointer;
  }
  &.compact {
    font-size: 10px;
    .entity-item-snippet {
      display: none;
    }
  }
}

.scroll-box {
  max-height: 250px;
  overflow-y: scroll;
  border: 1px solid #DDD;
  border-radius: 3px;
  .scroll-box-item {
    padding: $-xs $-m;
    border-bottom: 1px solid #DDD;
    &:last-child {
      border-bottom: 0;
    }
  }
}

.center-box {
  margin: $-xxl auto 0 auto;
  width: 420px;
  max-width: 100%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  input {
    width: 100%;
  }
}

.fullscreen {
  border:0;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  z-index: 150;
}

.list-sort-container {
  display: inline-block;
  form {
    display: inline-block;
  }
  .list-sort {
    display: inline-grid;
    margin-left: $-s;
    grid-template-columns: 120px 40px;
    border: 2px solid #DDD;
    border-radius: 4px;
  }
  .list-sort-label {
    font-weight: bold;
    display: inline-block;
    color: #888;
  }
  .list-sort-type {
    text-align: left;
  }
  .list-sort-type, .list-sort-dir {
    padding: $-xs $-s;
    cursor: pointer;
  }
  .list-sort-dir {
    border-left: 2px solid #DDD;
    fill: #888;
    .svg-icon {
      transition: transform ease-in-out 120ms;
    }
    &:hover .svg-icon {
      transform: rotate(180deg);
    }
  }
}