@import "reset";
@import "variables";
@import "mixins";
@import "html";
@import "text";
@import "grid";
@import "blocks";
@import "buttons";
@import "forms";
@import "tinymce";

header {
  background-color: #f8f8f8;
  position: fixed;
  display: block;
  width: 100%;
  z-index: -1;
  top: 0;
}

body {
  margin-top: 64px;
}

header hr {
  margin-top: 0;
}

header .menu {
  margin-bottom: 0;
  list-style: none;
  li {
    display: inline-block;
    margin-left: $-m;
  }
}

.page-title input {
  display: block;
  width: 100%;
  font-size: 1.4em;
}

.affix {
  position: fixed;
}

.page-style {
  background-color: #FFF;
  padding: $-s $-xxl $-xxl $-xxl;
  border-radius: 4px;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: $-xxl;
  max-width: 100%;
}

.page-style.editor {
  padding: 0 !important;
}

.page-content {
  @extend .page-style;
  min-height: 70vh;
  &.right {
    float: right;
  }
  &.left {
    float: left;
  }
}

.page-list {
  a {
    display: block;
    padding: $-s 0;
    border-bottom: 2px dotted #CCC;
    &:first-child {
      border-top: 2px dotted #CCC;
    }
  }
}

.page-menu  {
  opacity: 0.6;
  transition: opacity ease-in-out 120ms;
  &:hover {
    opacity: 1;
  }
}

.page-nav-list {
  $nav-indent: $-s;
  li {
    //border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: $-xs;
  }
  .nav-H2 {
    margin-left: $nav-indent;
    font-size: 0.95em;
  }
  .nav-H3 {
    margin-left: $nav-indent*2;
    font-size: 0.90em
  }
  .nav-H4 {
    margin-left: $nav-indent*3;
    font-size: 0.85em
  }
  .nav-H5 {
    margin-left: $nav-indent*4;
    font-size: 0.80em
  }
  .nav-H6 {
    margin-left: $nav-indent*5;
    font-size: 0.75em
  }
}



.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  display: block;
  z-index: 95536;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#image-manager {
  background-color: #EEE;
  max-width: 90%;
  max-height: 90%;
  width: 90%;
  height: 90%;
  margin: 2% 5%;
  //border: 2px solid $primary;
  border-radius: 4px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  .image-manager-display img {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: $-s 0 0 $-s;
    cursor: pointer;
  }
}
.image-manager-left {
  background-color: #FFF;
  height: 100%;
  width: 100%;
  text-align: left;
  .image-manager-display {
    height: 75%;
    width: 100%;
    text-align: left;
    overflow-y: scroll;
  }
}

.image-manager-title {
  font-size: 2em;
  text-align: left;
  margin: 0 $-m;
  padding: $-xl $-m;
  color: #666;
  border-bottom: 1px solid #DDD;
}

.image-manager-dropzone {
  background-color: lighten($primary, 40%);
  height: 25%;
  text-align: center;
  font-size: 2em;
  line-height: 2em;
  padding-top: $-xl*1.2;
  color: #666;
  border-top: 2px solid $primary;
}

// Link hooks & popovers
a.link-hook {
  position: absolute;
  display: inline-block;
  top: $-xs;
  left: -$-xl+2px;
  font-size: 20px;
  line-height: 20px;
  color: #BBB;
  opacity: 0;
}
h1, h2, h3, h4, h5, h6 {
  &:hover a.link-hook {
    opacity: 1;
  }
}