@import "reset";
@import "variables";
@import "mixins";
@import "html";
@import "text";
@import "grid";
@import "blocks";
@import "buttons";
@import "forms";
@import "tables";
@import "animations";
@import "tinymce";
@import "image-manager";

header {
  display: block;
  z-index: 2;
  top: 0;
  .padded {
    padding: $-m;
  }
  //margin-bottom: $-l;
}

#sidebar {
  position: fixed;
  background-color: #444;
  color: #EEE;
  height: 100%;
  top: 0;
  z-index: 1;
  //padding-top: $-m;
  width: 340px;
  border-right: 1px solid #DDD;
  h4, li, p, a {
    color: #CCC;
  }
}

#content {
  //margin-top: 63px;
  margin-left: 340px;
  display: block;
  position: relative;
  padding: 0 16px;
}

.logo-container {
  padding: $-l $-s;
  color: #CCC;
  .logo {
    display: block;
    font-size: 2em;
    font-weight: bold;
    padding: $-m 0;
  }
  i {
    padding-right: $-s;
  }
}


.search-box {
  input {
    width: 100%;
    border-radius: 0;
    padding: $-m;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    color: #EEE;
  }
}

.menu {
  list-style: none;
  margin: 0;
  .col-md-4 {
    padding: 0;
  }
  a {
    padding: $-m;
    display: block;
    border-bottom: 1px solid #3A3939;
  }
}

.page-title input {
  display: block;
  width: 100%;
  font-size: 1.4em;
}

.page-style {
  padding: $-s $-xxl $-xxl $-xxl;
  margin-bottom: $-xxl;
  max-width: 100%;
}

.page-style.editor {
  padding: 0 !important;
}

.page-content {
  @extend .page-style;
  min-height: 70vh;
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  &.right {
    float: right;
  }
  &.left {
    float: left;
  }
  img {
    max-width: 100%;
    height:auto;
  }
}

.page-list {
  h3 {
    margin: $-l 0;
  }
  .inset-list {
    display: block;
    overflow: hidden;
    padding-left: $-l*2;
    border-top: 3px dotted #EEE;
  }
  h4 {
    display: block;
    margin: $-m 0;
  }
  hr {
    margin-top: 0;
  }
}

.side-nav {
  position: fixed;
  padding-left: $-m;
  opacity: 0.8;
  margin-top: $-xxl;
  margin-left: 0;
  max-width: 240px;
  display: none;
}

.page-nav-list {
  $nav-indent: $-s;
  margin-left: 2px;
  list-style: none;
  li {
    //border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: $-xs;
    border-left: 2px solid #888;
    margin-bottom: 4px;
  }
  li a {
    color: #555;
  }
  .nav-H2 {
    margin-left: $nav-indent;
    font-size: 0.95em;
  }
  .nav-H3 {
    margin-left: $nav-indent*2;
    font-size: 0.90em
  }
  .nav-H4 {
    margin-left: $nav-indent*3;
    font-size: 0.85em
  }
  .nav-H5 {
    margin-left: $nav-indent*4;
    font-size: 0.80em
  }
  .nav-H6 {
    margin-left: $nav-indent*5;
    font-size: 0.75em
  }
}



.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  display: none;
  z-index: 95536;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// Link hooks & popovers
a.link-hook {
  position: absolute;
  display: inline-block;
  top: $-xs;
  left: -$-l;
  padding-bottom: 30px;
  font-size: 20px;
  line-height: 20px;
  color: #BBB;
  opacity: 0;
  transform: translate3d(10px, 0, 0);
  transition: all ease-in-out 240ms;
  background-color: transparent;
  &:hover {
    color: $primary;
  }
}
h1, h2, h3, h4, h5, h6 {
  &:hover a.link-hook {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.breadcrumbs {
  margin-top: $-s;
  i {
    padding-right: 4px;
  }
  span.sep {
    color: #aaa;
    padding: 0 $-xs;
  }
}

.faded {
  a {
    color: #666;
    opacity: 0.5;
    transition: all ease-in-out 120ms;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
}

.faded-small {
  color: #666;
  font-size: 0.9em;
  a, span {
    color: #666;
  }
}

.action-buttons {
  text-align: right;
  a {
    display: inline-block;
    padding: $-s;
  }
}


.book-tree h4 {
  padding: $-m $-s 0 $-s;
  i {
    padding-right: $-s;
  }
}
// Sidebar list
.book-tree .sidebar-page-list {
  list-style: none;
  margin: 0;
  margin-top: $-xl;
  border-left: 5px solid #7BD06E;
  li a {
    display: block;
    border-bottom: none;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      text-decoration: none;
    }
  }
  li, a {
    display: block;
  }
  a.bold {
    color: #EEE !important;
  }
  ul {
    list-style: none;
    margin: 0;
  }
  ul li a {
    padding-left: $-xl;
  }
  .book {
    color: #7BD06E !important;
    &.selected {
      background-color: rgba(123, 208, 110, 0.29);
    }
  }
  .chapter {
    color: #D2A64B !important;
    &.selected {
      background-color: rgba(239, 169, 42, 0.27);
    }
  }
  .list-item-chapter {
    border-left: 5px solid #D2A64B;
    margin: 10px 10px;
    display: block;
  }
  .list-item-page {
    border-bottom: none;
  }
  .page {
    color: #4599DC !important;
    border-left: 5px solid #4599DC;
    margin: 10px 10px;
    border-bottom: none;
    &.selected {
      background-color: rgba(118, 164, 202, 0.41);
    }
  }
}

.sortable-page-list, .sortable-page-list ul {
  list-style: none;
  //background-color: rgba(0, 0, 0, 0.04);
}
.sortable-page-list {
  margin-left: 0;
  ul {
    margin-bottom: 0;
    margin-top: 0;
  }
  li {
    border-bottom: 1px solid #BBB;
    border-left: 1px solid #BBB;
    border-right: 1px solid #BBB;
    padding: $-xs $-s;
  }
  li:first-child {
    margin-top: $-xs;
    border-top: 1px solid #BBB;
  }
}

// Jquery Sortable Styles
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.sortable-page-list li.placeholder {
  position: relative;
}
.sortable-page-list li.placeholder:before {
  position: absolute;
}

.image-cover {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  &.login {
    background-image: url('/images/bg-books.jpg');
  }
}

.sidebar-bg {
  background-image: url('/images/bg-books.jpg');
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0,0,0,0.85);
    display: block;
  }
}

.image-cover #sidebar {
  width: auto;
  border: 0;
  background-color: rgba(0, 0, 0, 0.38);
}

.center-box {
  margin-top: 15vh;
  padding: $-m $-xxl $-xl*2 $-xxl;
  max-width: 346px;
  h1, label {
    color: #EEE;
  }
  h1 {
    margin-bottom: $-m;
  }
  .button {
    margin-top: $-xl;
  }
  input {
    background-color: transparent;
    color: #EEE;
  }
}

.activity-list-item {
  padding: $-s 0;
  color: #888;
  border-bottom: 1px solid #EEE;
}