@import "reset";
@import "variables";
@import "fonts";
@import "mixins";
@import "html";
@import "text";
@import "grid";
@import "blocks";
@import "buttons";
@import "forms";
@import "tables";
@import "animations";
@import "tinymce";
@import "highlightjs";
@import "image-manager";
@import "header";
@import "lists";
@import "pages";

[v-cloak], [v-show] {display: none;}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
  user-select: none;
}

[ng-click] {
  cursor: pointer;
}

// Jquery Sortable Styles
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
body.dragging, body.dragging * {
  cursor: move !important;
}

// User Avatar Images
.avatar {
  border-radius: 100%;
  background-color: #EEE;
  width: 30px;
  height: 30px;
  &.med {
    width: 40px;
    height: 40px;
  }
  &.large {
    width: 80px;
    height: 80px;
  }
  &.huge {
    width: 120px;
    height: 120px;
  }
  &.square {
    border-radius: 3px;
  }
}

// System wide notifications
.notification {
  position: fixed;
  top: 0;
  right: 0;
  margin: $-xl*2 $-xl;
  padding: $-l $-xl;
  background-color: #EEE;
  border-radius: 3px;
  box-shadow: $bs-med;
  z-index: 999999;
  display: table;
  cursor: pointer;
  max-width: 480px;
  i, span {
    display: table-cell;
  }
  i {
    font-size: 2em;
    padding-right: $-l;
  }
  span {
    vertical-align: middle;
  }
  &.pos {
    background-color: $positive;
    color: #EEE;
  }
  &.neg {
    background-color: $negative;
    color: #EEE;
  }
  &.warning {
    background-color: $secondary;
    color: #EEE;
  }
}

// Loading icon
$loadingSize: 10px;
.loading-container {
  position: relative;
  display: block;
  height: $loadingSize;
  margin: $-xl auto;
  > div {
    width: $loadingSize;
    height: $loadingSize;
    border-radius: $loadingSize;
    display: inline-block;
    vertical-align: top;
    transform: translate3d(0, 0, 0);
    animation-name: loadingBob;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.62, .28, .23, .99);
    margin-right: 4px;
    background-color: $color-page;
    animation-delay: 0.3s;
  }
  > div:first-child {
      left: -($loadingSize+$-xs);
      background-color: $color-book;
      animation-delay: 0s;
  }
  > div:last-child {
    left: $loadingSize+$-xs;
    background-color: $color-chapter;
    animation-delay: 0.6s;
  }
}


// Search results
.search-results > h3 a {
  font-size: 0.66em;
  color: $primary;
  padding-left: $-m;
  i {
    padding-right: $-s;
  }
}

// Back to top link
$btt-size: 40px;
#back-to-top {
  background-color: $primary;
  position: fixed;
  bottom: $-m;
  right: $-l;
  padding: $-xs $-s;
  cursor: pointer;
  color: #FFF;
  width: $btt-size;
  height: $btt-size;
  border-radius: $btt-size;
  transition: all ease-in-out 180ms;
  opacity: 0;
  z-index: 999;
  overflow: hidden;
  &:hover {
    width: $btt-size*3.4;
    opacity: 1 !important;
    span {
      display: inline-block;
    }
  }
  .inner {
    width: $btt-size*3.4;
  }
  i {
    margin: 0;
    font-size: 28px;
    padding: 0 $-s 0 0;
  }
  span {
    line-height: 12px;
    position: relative;
    top: -5px;
  }
}

.contained-search-box {
  display: flex;
  input, button {
    border-radius: 0;
    border: 1px solid #DDD;
    margin-left: -1px;
  }
  input {
    flex: 5;
    &:focus, &:active {
      outline: 0;
    }
  }
  button {
    width: 60px;
  }
  button i {
    padding: 0;
  }
  button.cancel.active {
    background-color: $negative;
    color: #EEE;
  }
}

// Attribute form
.floating-toolbox {
  background-color: #FFF;
  border: 1px solid #DDD;
  right: $-xl*2;
  z-index: 99;
  width: 48px;
  overflow: hidden;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  transition: width ease-in-out 180ms;
  margin-top: -1px;
  &.open {
    width: 480px;
  }
  [toolbox-toggle] i {
    transition: transform ease-in-out 180ms;
  }
  [toolbox-toggle] {
    transition: background-color ease-in-out 180ms;
  }
  &.open [toolbox-toggle] {
    background-color: rgba(255, 0, 0, 0.29);
  }
  &.open [toolbox-toggle] i {
    transform: rotate(180deg);
  }
  > div {
    flex: 1;
    position: relative;
  }
  .tabs {
    display: block;
    border-right: 1px solid #DDD;
    width: 54px;
    flex: 0;
  }
  .tabs i {
    color: rgba(0, 0, 0, 0.5);
    padding: 0;
    margin: 0;
  }
  .tabs > span {
    display: block;
    cursor: pointer;
    padding: $-s $-m;
    font-size: 13.5px;
    line-height: 1.6;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  &.open .tabs > span.active {
    color: #444;
    background-color: rgba(0, 0, 0, 0.1);
  }
  div[tab-content] {
    padding-bottom: 45px;
    display: flex;
    flex: 1;
  }
  div[tab-content] .padded {
    flex: 1;
    padding-top: 0;
  }
  h4 {
    font-size: 24px;
    margin: $-m 0 0 0;
    padding: 0 $-l $-s $-l;
  }
  .tags input {
    max-width: 100%;
    width: 100%;
    min-width: 50px;
  }
  .tags td {
    padding-right: $-s;
    padding-top: $-s;
  }
  button.pos {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    padding: $-s;
    height: 45px;
    border: 0;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    &:hover{
      box-shadow: none;
    }
  }
  .handle {
    user-select: none;
    cursor: move;
    color: #999;
  }
  form {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;
  }
}

[tab-content] {
  display: none;
}